* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #020A18;
}

/*
.container {
    width: 1920px;
    margin: 0 auto;
}
так же оборачивается весь блок body в container устаревший способ
*/

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 99px;
    
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
}

.header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.subtitle {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title {
    width: 604px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.text {
    width: 558px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.button1 {
    width: 171px;
    height: 57px;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button2 {
    width: 217px;
    height: 57px;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.top__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /*
    line-height: 160%;
    */
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}